<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            
            <div class="col-12">
                <a asp-area="" asp-controller="Home" asp-action="Message"  class="button">Написать администрации</a>
                <div id="copyright">
                    &copy; @Config.CompanyName. All rights reserved. | Design: <a href="dribbble.com/shershak">Oleksandr Shershak</a>
                </div>

            </div>
        </div>
    </div>
</div>
